#client-testimonial-carousel {
    min-height: 200px;
    
}

.testimonial{
    background-color:white;
}

.testimonial .people{
    font-size: 30px;
    text-align: center;
    font-weight: 500;
    color: #ec3434;
    padding-top: 20px;
    justify-content: center;
    display: block;
    font-family: 'Josefin Sans', sans-serif;
    
}

.testimonial p{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


.company img{
    display: flex;
    vertical-align: middle;
    width: 100%;
    height:auto;
    justify-content: center;
}